.score-area {
  background-color: #fff;
  border-radius: 24px;
  border: 3px solid #f7f8f9;
  padding: 33px 26px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .text-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .title {
      color: #16191c;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;
      height: fit-content;
      margin-bottom: 9px;
    }
    .content {
      height: fit-content;
      color: #646f7c;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
    }
  }
}

.chart-wrap {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .number-wrap {
    position: absolute;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    color: rgba(6, 199, 85, 1);
  }
  .fake {
    color: rgba(255, 51, 75, 1);
  }
}

@media (max-width: 1280px) {
  .score-area {
    border-radius: 8px;
    border: 2px solid #f7f8f9;
    padding: 15px 17px;
    .text-info {
      .title {
        font-size: 16px;
        font-weight: 600;
        line-height: 140%;
        margin-bottom: 6px;
      }
      .content {
        font-size: 10px;
      }
    }
  }

  .chart-wrap {
    width: 80px;
    height: 80px;
    .number-wrap {
      width: 80px;
      height: 80px;
      font-size: 14px;
      line-height: 140%;
    }
  }
}
